.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    transform: translateX(-200px);
    transition: 0.3s linear;
}
.menu:hover{
    transform: translateX(0px);
}
.menu_btn{
    color: gray;
    transition: 0.3s linear;
    border: 1px solid gray;
    border-radius: 2px;
    width: 50px;
    text-align: center;

}
.menu_btn:hover{
    cursor: pointer;
    color: brown;
    border: 1px solid gray;
    background-color: bisque;
}
a{
    text-decoration: none;
    color: gray;
    transition: 0.3s linear;
}
a:hover{
    cursor: pointer;
    color: deepskyblue;

}